site_name: Wiki Hardening Linux
site_url: https://b1asst.github.io/wiki-hardening-linux/
theme:
  name: material
  language: fr
  features:
    - content.code.copy
    - toc.follow
    - header.autohide
    - navigation.indexes
    - navigation.sections
    - navigation.tabs

  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
nav:
  - "Introduction":
      - "Introduction": index.md
      - "Test de sécurité": test-securisation.md
  - "Mesures de sécurisation":
      - "Système GNU/LINUX": mesures/gnu-linux.md
      - "OpenSSH": mesures/openssh.md
      - "AppArmor": mesures/apparmor.md
  - "Automatisation":
      - "Ansible": automatisation/ansible.md
markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true

extra:
  analytics:
    provider: google
    property: GTM-WT59M3WS
