---
name: Build and deploy the documentation
on:
  push:
    branches: [main]
permissions:
  contents: read
jobs:
  build:
    name: Build the documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: '3.13'
          enable-cache: true
      - name: Build MkDocs website
        run: uvx --from mkdocs-material mkdocs build
      - name: Setup Github Pages
        uses: actions/configure-pages@v5
      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./site
  deploy:
    name: Deploy the documentation
    permissions:
      pages: write
      id-token: write
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
